.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.topBarElement {
  position: absolute;
  top: 29.2px;
  left: 26px;
  width: 48px;
  height: 42px;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.logoParent {
  height: 100.4px;
  width: 100.4px;
  position: relative;
}
.smartdsvision {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 100%;
  font-weight: 800;
}
.frameParent,
.smartdsvisionWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.smartdsvisionWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-21xl-2) 0 0;
}
.frameParent {
  margin-top: -24.2px;
  width: 269px;
  flex-direction: row;
  gap: var(--gap-8xl-6);
}
.topBarDivider {
  height: 48px;
  width: 2px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 24px);
  left: 100px;
  background-color: var(--color-white);
  z-index: 1;
}
.signUp {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: -0.02em;
  line-height: 100%;
  display: inline-block;
  font-family: var(--font-manrope);
  color: var(--color-whitesmoke);
  text-align: left;
  min-width: 72px;
  cursor: pointer;
}
.signIn,
.signUpWrapper {
  white-space: nowrap;
  cursor: pointer;
}
.signUpWrapper {
  border: 0;
  padding: var(--padding-base) var(--padding-14xl);
  background-color: var(--color-dodgerblue-100);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.signUpWrapper:hover {
  background-color: var(--color-cornflowerblue);
}
.signIn {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 100%;
  font-weight: 600;
  display: inline-block;
  min-width: 62px;
}
.signInWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
}
.frameGroup,
.topBar,
.topBarWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frameGroup {
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.topBar,
.topBarWrapper {
  box-sizing: border-box;
  max-width: 100%;
}
.topBar {
  height: 86px;
  flex: 1;
  justify-content: space-between;
  padding: var(--padding-mid) 0;
  position: relative;
  gap: var(--gap-xl);
}
.topBarWrapper {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-4xs) 0 0;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-manrope);
}
@media screen and (max-width: 675px) {
  .frameGroup {
    display: none;
  }
}
